language: python

# Notification settings
notifications:
  email:
    recipients:
      - ethan.stam@gmail.com
      - dhr@lanl.gov

# Get the repository
git:
  # Depth of commits to grab. Less is faster
  depth: 1

# Matrix of operating systems and dependencies
matrix:
  include:
    - os: linux
      dist: xenial
      addons:
        apt:
          packages:
            - doxygen

# Install dependencies here      
install:
        - pip install sqlite3 xml h5py pandas pillow

# The build step
script:
        - pip install .
        - python -m unittest discover testing
        - doxygen ./doxygen
